:root{
    --whitebg: white;
    --whitetxt: white;
    --accent: #FF7327;
    --accentred: #C41E3A;
    --bodybg: white;
    --grey: #6B7280;
    --black: #374151;
    --redop: #DE4A4E;
    --footerbg: #374151;
    --signup: #C41E3A;
    --whitebtn: white;
    --card: linear-gradient(90deg, #C41E3A 0%, #DC2626 100%);
    --filter: invert(0);

    /* TOGGLE  */
      --toggledarkimg: url(img/moonoff.svg);
    --togglelightimg: url(img/sunon.svg);
    --togglepos: translateX(52px);
    --toggleforon:  translateX(-50px);
}

.darkmode{
    --whitebg:#3F3F3F;
    --whitetxt: white;
    --accent: #FF7327;
    --accentred: #ffffff;
    --bodybg: #262626;
    --grey: white;
    --redop: #DE4A4E;
    --black: white;
    --footerbg: #374151;
    --signup: #C41E3A;
    --filter:brightness(0) invert(1);

    /* TOGGLE  */
     --toggledarkimg: url(img/moon.svg);
    --togglelightimg: url(img/suninactive.svg);
    --togglepos: translateX(0);
    --toggleforon:  translateX(0);
 

}





*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 1280px;
    height: 3232px;
    background-color: var(--bodybg) ;
    margin: 0 auto;
}

h1 , h2{
    font-family: "Bowlby One SC";
}

h2{
    color: var(--accent);
    font-size: 36px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
}
.logo{
    width: 231px;
}
.togglemode{
    cursor: pointer;
}
.iconon{
    width: 17.973px;
    height: 18.973px;
           background-image: var(--toggledarkimg);
           transform: var(--toggleforon);
}

.iconoff{
    width: 19.973px;
    height: 18.973px;
    position: relative;
    right: -2px;
    background-image: var(--togglelightimg);
}
main{
    position: relative;
    top: 80px;
}
nav{
    z-index: 999;
    position: fixed;
    width: 1280px;
    display: flex;
    background: var(--whitebg, #FFF);
box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 10px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 25px 45px;
    align-items: center;
justify-content: space-between;}

ul{
    list-style: none;
    display: flex;
align-items: center;
gap: 31px;
width: 320px;
}

a{
    text-decoration: none;
     color: var(--black, #374151);
}

li{
   
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 300ms ease;
}

li:hover{
   font-weight: 700;

}

.selected{
    font-weight: 700 !important;
}

.headtog{
  display: flex;
align-items: center;
gap: 13px;
}

.signup{
    display: flex;
padding: 8px 34px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 50px;
background: var(--signup, #C41E3A);
color: var(--whitetxt, #FFF);
text-align: center;
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
transition: all 300ms ease;
}
.signup:hover{


box-shadow: 0 5px 4px 0 rgba(196, 30, 58, 0.41);
}
.bg{
    display: flex;
    width: 91px;
height: 37.466px;
border-radius: 22.093px;
padding: 4px 8px 4px 4px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 22.093px;
border: 1px solid var(--grey, #6B7280);
background: var(--whitebg, #FFF);
}

.darksel{
    width: 29.836px;
height: 29.95px;
background-color: var(--black);
background-position: center;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
transform: var(--togglepos);

}

.hero{
    display: flex;
    padding: 56px 24px;
    flex-direction: column;
    align-items: center;
    gap: -18px;
}

.heroimg{
    background-image: url(img/Frame\ 4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 1232px;
    height: 352px;
    padding: 103px 31px;
    justify-content: space-between;
    align-items: center;
    border-radius: 38px;
}

.heroimg h1{
    color: var(--whitetxt, #FFF);
    font-family: "Bowlby One SC";
    font-size: 76.265px;
    font-style: normal;
    font-weight: 400;
    line-height: 66.11px; /* 86.685% */
    width: 456px;
}

.searchcta{
    display: flex;
align-items: center;
gap: 10px;
    margin-top: -18px;
}


.searchbar2{
    display: flex;
align-items: center;
gap: 115px;
align-self: stretch;
padding: 8px 16px;
border-radius: 100px;
background: var(--whitebg, #FFF);
box-shadow: 0 6px 8.2px 0 rgba(0, 0, 0, 0.09);
width: 555px;
height: 74px;
}

#searchbar{
    color: var(--grey, #6B7280);
background: none;
font-family: Geist;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
 border: none;
  outline: none;
  width: 335px;
}

.searchicon{
    display: flex;
padding: 20px 32px;
align-items: center;
gap: 10px;
border-radius: 50px;
background: var(--signup, #C41E3A);
}


.maincta{
    display: flex;
width: 187px;
padding: 25px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
background: var(--accent, #FF7327);
box-shadow: 0 6px 8.2px 0 rgba(0, 0, 0, 0.09);
color: var(--whitetxt, #FFF);
font-family: Geist;
font-size: 18px;
font-style: normal;
font-weight: 800;
cursor: pointer;
transition: all 300ms ease;
}

.maincta:hover{
   box-shadow: 0 6px 8.2px 0 rgba(255, 115, 39, 0.678);
}

.section2{
    display: flex;
    padding: 49px 66px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.sectxt{
    display: flex;
    width: 394px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.sectxt h6{
    color: var(--black, #374151);
text-align: center;
font-family: Geist;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}

.cards{
    display: flex;
align-items: center;
gap: 41px;
align-self: stretch;
}

.card{
    display: flex;
padding: 19px 21px;
align-items: flex-start;
background: var(--card);
border-radius: 14.233px;
flex-direction: column;
width: 355px;
gap: 15px;
height: 208px;
}

.card h4{
    color: var(--whitetxt, #FFF);
font-family: Geist;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24.908px; /* 103.785% */
height: 22px;
}

.card h5{
    color: var(--whitetxt, #FFF);
height: 13px;
font-family: Geist;
font-size: 14.233px;
font-style: normal;
font-weight: 400;
line-height: 21.35px; /* 150% */
}

.code{
    display: flex;
height: 46px;
padding: 9px 11px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 7.117px;
background: var(--redop, #DE4A4E);
color: var(--whitetxt, #FFF);
font-family: Geist;
font-size: 21.35px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 46px;
}

.copy{
    display: flex;
padding: 13px 81px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 60px;
background: var(--whitebg, #FFF);
color: var(--accentred, #C41E3A);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;

}
.copy img{
filter: var(--filter);
}
.section3{
    display: flex;
    padding: 50px 84px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.offers{
    display: flex;
align-items: center;
gap: 55px;
align-self: stretch;
}

.offer{
    display: flex;
width: 332.043px;
overflow: hidden;
flex-direction: column;
align-items: flex-start;
border-radius: 13.462px;
background: var(--whitebg, #FFF);
box-shadow: 0 6.731px 8.413px 0 rgba(0, 0, 0, 0.10), 0 16.827px 21.034px 0 rgba(0, 0, 0, 0.10);
}

.offercont{
    display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}

.row1 , .row3{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.disc{
    display: flex;
padding: 8px 14px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 50px;
background: var(--accent, #FF7327);
color: var(--whitetxt, #FFF);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Geist;
font-size: 11.779px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.row1 span{
    color: var(--grey, #6B7280);
font-family: Geist;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16.827px; /* 142.857% */
}

.row2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 7px;
align-self: stretch;
}

.row2 h3{
    color: var(--black, #374151);
leading-trim: both;
text-edge: cap;
font-family: Geist;
font-size: 16.827px;
font-style: normal;
font-weight: 700;
line-height: 23.558px; /* 140% */
}

.row2 p{
    color: var(--black, #374151);
leading-trim: both;
text-edge: cap;
font-family: Geist;
font-size: 13.462px;
font-style: normal;
font-weight: 400;
line-height: 20.192px; /* 150% */
}

.row3 h4{
color: var(--accentred, #C41E3A);
font-family: Geist;
font-size: 20.192px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pricecounter{
    display: flex;
align-items: center;
gap: 19px;

}

.pricecounter button{
    display: flex;
width: 38.245px;
height: 38.245px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 12.5px;
aspect-ratio: 38.25/38.25;
border-radius:50px;
background: var(--accent, #FF7327);
 outline: none;
  border: none;
  cursor: pointer;
}

.pricecounter span{
color: var(--black, #374151);
font-family: Geist;
font-size: 20.192px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 20px;
text-align: center;
}

.section4{
    display: flex;
width: 1280px;
padding: 62px 184px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
}

.categories{
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 57px 58px;
align-self: stretch;
flex-wrap: wrap;
}

.category{
    display: flex;
width: 264.964px;
padding: 34px;
flex-direction: column;
align-items: center;
gap: 23px;
border-radius: 22.55px;
background: var(--whitebg, #FFF);
box-shadow: 0 6px 10.1px 0 rgba(0, 0, 0, 0.25);
transition: all 300ms ease;
cursor: pointer;
}

.category h5{
    color: var(--black, #374151);
text-align: center;
font-family: Geist;
font-size: 22.55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.category:hover{
    scale: 1.1;
    outline: 2px var(--black) dashed;

}

.section5{
    display: flex;

padding: 81px 0;
flex-direction: column;
align-items: center;
gap: 40px;
}

.brandcont{
    display: flex;

padding: 0 38px;
justify-content: center;
align-items: center;
gap: 48px;
  animation: scroll 15s linear infinite;
  width: max-content;
}
.brands{
      overflow: hidden;
  width: 100%;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

footer{
    font-family: Geist;
    display: flex;
    width: 1280px;
    padding:64px 51px;
    flex-direction: column;
    align-items: center;
    gap: 89px;
    background: var(--footerbg);
    margin-top: 130px;
}

.footcol{
    display: flex;
width: 265px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.footcol h5{
    color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}

.footcol p , .footcol a{
    color: var(--whitetxt);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.footcontent{
display: flex
;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    justify-content: space-between;
}

.links{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.icontxt{
    display: flex;
align-items: center;
gap: 12px;
}

footer span{
    color: #D1D5DB;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

footer a:hover{
    text-decoration: underline;
}

.randompopup{
display: flex;
width: 463px;
height: 241.061px;
padding: 22.02px 42.302px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 23.179px;
border: 12.169px solid #22C55E;
background: #FFF;
    position: fixed;
    z-index: 99999;
    left: 35%;
    top: 29px;
    box-shadow: 0 46px 32.3px 0 rgba(0, 0, 0, 0.51);
}

.randompopup h3{
color: #1E1E1E;
font-family: "Bowlby One SC";
font-size: 37.879px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

#closebtn{
    display: flex;
width: 68.957px;
height: 68.957px;
padding: 18.543px;
align-items: center;
gap: 5.795px;
flex-shrink: 0;
border-radius: 34.479px;
cursor: pointer;
background: #C41E3A;
}

#closebtn img{
    width: 31px;
}